.domain_mapping_container{
    width:70vw;
    height:60vh;
    background-color:white;
    margin-left:190px;
    position:relative;
    margin-top:10px;
}
.domain_header{
    width:70vw;
    margin-left:190px;
}
#company_lbl{
    font-size:17px;
    font-family:Arial; 
    color:black;
    font-weight:bold;
    margin-left:10px;
}
#domain_lbl{
    font-family:Arial;
    font-size:17px;
    color:black;
    font-weight:bold;
    margin-left:10px;
}
#domain_list_unmapped{
    width: 250px;
    height:190px;
    display:inline-block;
    border: 1px solid grey;
    border-radius:1px;
    margin-left:15px;
    margin-right:70px;
    overflow:scroll;
}
#domain_list_mapped{
    width: 250px;
    height:190px;
    display:inline-block;
    border: 1px solid grey;
    border-radius:1px;
    margin-left:15px;
    margin-right:10px;
}
#company_dropdown{
    width:300px;
    height:30px;
    margin-top:5px;
    font: 400 12px/1.3 "Helvetica Neue", sans-serif;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid hotpink;
    line-height: 1;
    outline: 0;
    color: hotpink;
    border-color: hotpink;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: 3px;
    background: linear-gradient(hotpink, hotpink) no-repeat,
                linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
                linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
                linear-gradient(hotpink, hotpink) no-repeat;
    background-color: white;
    background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}